.masthead { 
    padding-top: 50px;
    text-align: center
    }
    .site-avatar {
        float: none;
    }
    .site-info {
        float: none;
    }
    .site-name {
      text-align: center
    }
    .tech {
        font-size: 70%;
        font-weight: bold;
    }